.container {
  padding: 30px;
  background: #f5f7fb;
  min-height: 100vh;
}

.card {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  margin-top: 25px;
  color: #2563eb;
}

.form-group {
  margin-bottom: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.save-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
}

.cancel-btn {
  background: #ccc;
  border: none;
  padding: 10px 20px;
}

.back-btn {
  margin-bottom: 20px;
}
.phone-box {
  display: flex;
  gap: 10px;
}

.phone-box select {
  width: 100px;
}

.phone-box input {
  flex: 1;
}