<div class="dashboard-container">

  <h1>Student Dashboard</h1>

  <p>Manage and track student information</p>

  <<div class="top-bar">

  <input
    type="text"
    placeholder="Search students..."
    [value]="searchText"
    (input)="searchText = $event.target.value"
  />

  <select #selectedCountry>
    <option value="">All Countries</option>
    <option value="India">India</option>
    <option value="USA">USA</option>
  </select>

  <select #selectedGender>
    <option value="">All Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

</div>
  <div class="cards-container">

    <div class="card" *ngFor="let student of filteredStudents()">

      <h2>{{ student.name }}</h2>

      <p><strong>Status:</strong> {{ student.status }}</p>

      <p><strong>Country:</strong> {{ student.country }}</p>

      <p><strong>City:</strong> {{ student.city }}</p>

      <p><strong>Gender:</strong> {{ student.gender }}</p>

      <p><strong>Skills:</strong> {{ student.skills }}</p>

      <small>
        Last active:
        {{ getTimeAgo(student.lastActive) }}
      </small>

      <div class="contact-status">

        <span *ngIf="student.studentContacted">
          ✔ Student Contacted
        </span>

        <span *ngIf="student.teacherContacted">
          ✔ Teacher Contacted
        </span>

      </div>

      <button (click)="viewStudent(student.id)">
        👁 View
      </button>

    </div>

  </div>

</div>